const años = ["2019","2021","2023"];

const adultos = [
16599,
17775,
18169
];

const infanto = [
10159,
8621,
12144
];

const total = [
26758,
26396,
30313
];


// BARRAS

Plotly.newPlot("barras",[

{
y:años,
x:adultos,
name:"Adulto",
orientation:"h",
type:"bar"
},

{
y:años,
x:infanto,
name:"Infanto-Juvenil",
orientation:"h",
type:"bar"
}

],{

title:"Promedio de personas en lista de espera"

});


// PIE 2019

Plotly.newPlot("pie2019",[{

labels:["Adulto","Infanto-Juvenil"],
values:[62,38],
type:"pie"

}],{

title:"2019"

});


// PIE 2021

Plotly.newPlot("pie2021",[{

labels:["Adulto","Infanto-Juvenil"],
values:[67,33],
type:"pie"

}],{

title:"2021"

});


// PIE 2023

Plotly.newPlot("pie2023",[{

labels:["Adulto","Infanto-Juvenil"],
values:[60,40],
type:"pie"

}],{

title:"2023"

});


// LINEA

Plotly.newPlot("linea",[{

x:años,
y:total,
mode:"lines+markers",
name:"Total"

}],{

title:"Evolución Total"

});


// AREA

Plotly.newPlot("area",[

{
x:años,
y:adultos,
stackgroup:'one',
name:'Adulto'
},

{
x:años,
y:infanto,
stackgroup:'one',
name:'Infanto-Juvenil'
}

],{

title:"Participación por Grupo"

});
